.header-wrap {
        width: 100%;
        background-color: #eef6f3;
        transition: background-color 0.5s;
    header {
        max-width: 1140px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        height: 50px;
        display: flex;
        align-items: center;

        .toss-logo {
            width: 100px;
            cursor: pointer;
        }
        .find{
            width: 17px;
            height: 17px;
            margin-top: 4px;
        }
    }

}
@media screen and (min-width:661px){
    header ul {
            list-style: none;
            display: flex;
            max-height: 100%;
            justify-content: flex-end;
            flex: 1;
            align-items: center;

            li {
                margin-left: 20px;
                padding: 10px 12px;
                align-items: center;
                font-size: 15px;
                border-radius: 8px;
                cursor: pointer;

            
            }
            li:hover{
                background-color: #e2e2e2;
                
            }
        }
    
}

@media screen and (max-width:660px){

}
.scroll{
    position: fixed;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #cacaca;
    transition: background-color 0.5s;
}