
.report {
  width: 100%;

  .report-inner {
    max-width: 690px;
    margin: 80px auto;
    background-color: yellowgreen;
  }
	.report-btns{
		display: flex;
	
		img{
			height: 28px;
			width: 28px;
			min-width: 28px;
		}
		button{
			border: 0px;
			padding: 12px 8px;
			border-radius: 12px;
		}
		button:first-child{
			height: 100px;
			width: 100%;
			flex-basis: calc(100% - 8px);
			max-width: calc(100% - 8px);
		}
		.secondBtn{
			flex-basis: calc(25% - 8px);
			max-width: calc(25% - 8px);
			margin-top: 6px;
		}
	}

}